
<div class="webcam">
  	<video autoplay="true" #webcam1 id="webcam1" class="canvasstyle">
  	
  	</video>
     <canvas  #canvas1 class="canvasstyle" height="480" width="640"></canvas>
</div>

<button (click)="ShowLandMarks=!ShowLandMarks;DrawFaces();">Start/Stop</button>
   <!--
   <button class="actionBtn" (click)="triggerSnapshot();">
    Click Here and take the Shot</button>
  
<div class="snapshot" *ngIf="webcamImage">
  <h2>Here is your image!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
  -->



